/**
 * Static: Default positioning
 **/
body { 
    background: black;
 
}
section {
    background: white;
    height: 600px;
    width: 700px;
    margin: auto;
    margin-top: 150px;
   
}

.container{
background: white;

}
.figure { 
    position: fixed;
    height: 85px;
    width: 125px;
    background: #eee;
    float: left;
    z-index: 5;
    font-size: larger ;
    padding-left: 20px;
     padding-top: 20px;
    text-align: center;
  }

h1{
    width: 50vh;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  
}

p{ 
    
    width: 50vh;
    margin: auto;


}

.box-set {
   color: black;
   text-align: center;
   font-size: larger ;
   margin-top: 20px;
   display: inline;
  
   
  }
  
  .box-1 {
    width: 68%;
    height: 150px;
    background: #eee;
    margin: auto;
    padding-top: 20px;
    }

    .box-2 {
        background: #999;
        height: 100px;
        width: 200px;
        float: right;
        margin-top: -100px;
        margin-right: 100px;
}


    
    footer{
       
        width: 50vh;
        margin: auto;
 }

  